.wd-player .wd-hidden {
    display: none !important;
}

.wd-player .wd-flash-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wd-player .wd-flash-replace {
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -90px;
}

.wd-player .wd-install-safari {
    background-image: url(../images/safari.png);
}

.wd-player .wd-install-flash {
    background-image: url(../images/flash.png);
}

.wd-player .wd-install-links {
    margin-top: 25px;
}

.wd-player .wd-install-links span {
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.wd-player .wd-hidden-video {
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* get rid of the border radius and box shadow that some themes like to add to
 * all images across the entire site
 */
.entry-content .wd-player img {
    border-radius: 0;
    box-shadow: none;
}

.wd-player .wd-thumb-tray {
    position: relative;
    height: 82px;
    width: 100%;
    overflow: hidden;
    transition-property: height;
    transition-duration: 750ms;
    -webkit-transition-property: height;
    -webkit-transition-duration: 750ms;
    -moz-transition-property: height;
    -moz-transition-duration: 750ms;
}

.wd-player .wd-thumb-tray.collapsed {
    height: 0px;
}

.wd-player .wd-thumb-collapse {
    background-color: #7a7a7a;
    position: absolute;
    top: 12px;
    right: 12px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.wd-player .wd-thumb-collapse div {
    margin-top: 8px;
}

.wd-player .wd-carousel-bb {
    position: absolute;
    left: 31px;
    right: 31px;
    overflow: hidden;
}

.wd-player .no-paginate {
    text-align: center;
}

.wd-player .no-paginate .wd-carousel-bb {
    left: 0px;
    right: 0px;
}

.wd-player .no-paginate ol {
    display: inline-block;
}

.wd-player .wd-carousel-button {
    color: #fff;
    position: absolute;
    text-align: center;
    width: 30px;
    height: 82px;
    top: 0;
    cursor: pointer;
}

.wd-player .wd-carousel-button.disabled div {
    opacity: .25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

.wd-player .wd-carousel-button div {
    margin-top: 35px;
}

.wd-player .wd-triangle {
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
}

.wd-player .wd-triangle.left {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent; /* overridden by color settings */
}

.wd-player .wd-triangle.right {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent; /* overriden by color settings */
}

.wd-player .wd-triangle.up {
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.wd-player .wd-triangle.down {
    border-top: 5px solid #fff;;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.wd-player .wd-carousel-button.previous {
    left: 0;
    right: auto;
}

.wd-player .wd-carousel-button.next {
    right: 0;
    left: auto;
}

.wd-player .no-paginate .wd-carousel-button {
    display: none;
}

.wd-player .wd-thumb-tray ol {
    position: relative;
    white-space: nowrap;
    transition-property: margin-left;
    transition-duration: 750ms;
    transition-timing-function: ease-out;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 750ms;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: margin-left;
    -moz-transition-duration: 750ms;
    -moz-transition-timing-function: ease-out;
}

.wd-player .wd-thumb-tray li {
    margin: 0px 1px;
    list-style-type: none;
    display: inline-block;
    line-height: 78px;
    position: relative;
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    cursor: pointer;
    /* transitions look really bad in webkit.
     * the fade aliasing actually causes the image to flicker in size by a few pixels
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 750ms;
    -moz-transition-property: opacity;
    -moz-transition-duration: 750ms;
    transition-property: opacity;
    transition-duration: 750ms;
    */
}

.wd-player .wd-thumb-tray li img {
    vertical-align: middle;
}

.wd-player .wd-thumb-tray li:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.wd-player .wd-credit-tray {
    padding: 10px;
    position: relative;
}

.wd-player .wd-image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    transition-property: opacity;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.wd-player .wd-image.opaque {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.wd-player .wd-play-video-button,
.wd-player .wd-play-slideshow-button {
    background-image: url(../images/play.png);
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 10;
}

.wd-player .wd-play-slideshow-button.playing {
    background-image: url(../images/pause.png);
}

.wd-paginate,
.wd-player .slideshow .wd-play-slideshow-button {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition-property: opacity;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
}

.wd-stage.video .wd-play-slideshow-button,
.wd-player .wd-play-slideshow-button {
    display: none;
}


.wd-paginate {
    height: 60px;
    width: 40px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
}

.wd-stage:hover .wd-paginate:hover,
.wd-stage.image.slideshow:hover .wd-play-slideshow-button:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.wd-stage:hover .wd-paginate,
.wd-stage.image.slideshow:hover .wd-play-slideshow-button {
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

.wd-stage:hover .wd-paginate.disabled:hover,
.wd-stage:hover .wd-paginate.disabled {
    opacity: .25;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    cursor: default;
}

.wd-paginate.previous-arrow {
    background-image: url(../images/previous.png);
    margin-left: 10px;
}

.wd-paginate.next-arrow {
    background-image: url(../images/next.png);
    right: 0;
    margin-right: 10px;
}
