/* Style the input color selector*/
.wdp-color-input-wrap {
    position: relative;
}
.wdp-colorpicker {
    height: 27px;
}
.wdp-color-button {
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 4px;
    margin-left: 4px;
    background: url(../images/color-wheel.png);
    cursor: pointer;
}
.wdp-color-picker-wrap {
    display: none;
    position: absolute;
    bottom: -195px;
    z-index: 1;
    background: white;
}
.wdp-settings-wrap .form-table {
    margin: 0 0 20px;
    
}
.wdp-dialog .ui-dialog-title {
    padding-left: 0;
}
.wdp-dialog .ui-dialog-title img {
    position: static;
}

/* Disable the inline-grid theme choice, it's not ready */
#wdp-theme-inline-grid, label[for='wdp-theme-inline-grid'] {
    display: none;
}